@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Dense="true">
        <MudText Typo="Typo.h6">Satisfactory Factory Tracker</MudText>
        <MudSpacer />
        <MudButton Href="/" Color="Color.Inherit" Class="mx-1">Dashboard</MudButton>
        <MudButton Href="/factory-planner" Color="Color.Inherit" Class="mx-1">Factory Planner</MudButton>
        <MudButton Href="/level-planner" Color="Color.Inherit" Class="mx-1">Level Planner</MudButton>
        <MudButton Href="/resources" Color="Color.Inherit">Resources</MudButton>
    </MudAppBar>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.False" Class="pa-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
